.section-2 {
  width: 100%;
  height: 100vh;
  display: grid;
  place-content: center;
  grid-template-columns: 65vw;
  box-shadow: 0 0 0.2rem rgba(255, 255, 255, 0.4);
  transition: opacity 2s, visibility 2s;
}

.section-2-wrapper {
  display: grid;
  place-content: center;
  width: 100%;
  grid-gap: 4rem;
  grid-template-columns: repeat(auto-fit, minmax(41rem, 1fr));
}

.section-2-left {
  display: grid;
  padding: 2rem;
  grid-gap: 2rem;
  background-color: transparent;
  border: 3px double var(--primary-color);
  border-radius: 5px;
  box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.3);
  transition: background-color 0.2s;
  position: relative;
}

.section-2-left:hover {
  background-color: rgba(0, 65, 108, 0.3);
}

.myStory {
  font-size: 3rem;
  color: var(--secondary-color);
  letter-spacing: 0.2rem;
}

.section-2-text-wrapper {
  display: grid;
  grid-gap: 2rem;
}

.section-2-text {
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  color: var(--text-color);
  text-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.5);
}

.section-2-right {
  padding: 2rem;
  background-color: rgba(0, 65, 108, 0.5);
  display: grid;
  align-content: center;
  box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  transform: background-color 0.2s;
}

.section-2-right:hover {
  background-color: var(--primary-dark);
}

.section-2-technologies h3 {
  color: var(--primary-color);
  font-size: 2rem;
}

.section-2-technologies p {
  margin: 1rem 0 1rem 4rem;
  font-size: 1.4rem;
  color: var(--text-color);
  letter-spacing: 0.1rem;
  text-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.5);
  position: relative;
}

.section-2-technologies p::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -2rem;
  width: 0;
  height: 0;
  transform: translateY(-50%);
  border-top: 0.5rem solid transparent;
  border-bottom: 0.5rem solid transparent;
  border-left: 0.5rem solid var(--secondary-color);
}
