.footer {
  max-width: 100%;
  min-height: 40vh;
  display: grid;
  align-items: center;
  justify-items: center;
  position: relative;
  transition: opacity 2s, visibility 2s;
  background-color: #111;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social-media {
  width: 6rem;
  height: 6rem;
  display: inline-flex;
  margin: 0 1.5rem;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: transform 0.2s;
  margin-bottom: 5rem;
}

.footer-social-media-link {
  width: clamp(2rem, 5vw, 4rem);
  height: clamp(2rem, 5vw, 4rem);
  padding: 1rem;
  text-align: center;
  font-size: clamp(2rem, 5vw, 4rem);
  transform: translateY(0);
  transition: transform 0.2s;
  border-radius: 50%;
  border: 2px double var(--primary-color);
  box-shadow: 0 0 0.5rem var(--text-color);
  margin: 0 2rem;
}

.footer-social-media-link:hover {
  transform: translateY(-10px);
}
.copyright {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 3rem;
}
.copyright p {
  color: var(--text-color);
  font-style: italic;
  font-size: clamp(1.2rem, 3vw, 2rem);
  letter-spacing: 0.1rem;
  text-align: center;
}

.copyright span {
  color: var(--secondary-color);
}

.social-media-link {
  width: clamp(2rem, 5vw, 4rem);
  height: clamp(2rem, 5vw, 4rem);
  padding: 1rem;
  text-align: center;
  font-size: clamp(2rem, 5vw, 4rem);
  transform: translateY(0);
  transition: transform 0.2s;
  border-radius: 50%;
  border: 2px double var(--primary-color);
  box-shadow: 0 0 0.5rem var(--text-color);
}

.landing-page-social-media-link:hover {
  transform: translateY(-10px);
}
