.landing-page {
  max-width: 100%;
  min-height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
  perspective: 100rem;
  transition: transform 5s;
}

.landing-page-social-media {
  margin: auto;
  max-width: 80%;
  display: grid;
  grid-auto-flow: column;
  place-items: center;
  gap: 3rem;
  margin-bottom: 5rem;
  transition: transform 3s, opacity 3s, visibility 3s;
}

.display-landing-page-social-media {
  transform: translateY(-200%);
  opacity: 0;
  visibility: hidden;
  transition: transform 3s, opacity 3s, visibility 3s;
}

.landing-page-social-media-link {
  text-align: center;
  font-size: clamp(3.5rem, 4.5vw, 6rem);
  transform: translateY(0);
  transition: transform 0.2s;
  border-radius: 50%;
}

.landing-page-social-media-link:hover {
  transform: translateY(-10px);
}

.landing-page-content {
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  transition: transform 1s, opacity 1s, visibility 1s;
}

.display-landing-page-content {
  transform: scale(0);
  opacity: 0;
  visibility: hidden;
  transition: transform 1s, opacity 1s, visibility 1s;
}

.landing-page-content-mynameis {
  color: var(--text-color);
  font-size: clamp(2.5rem, 2.5vw, 3rem);
  letter-spacing: 0.4rem;
  text-transform: capitalize;
}

.landing-page-content-name {
  font-size: clamp(3.5rem, 5vw, 7rem);
  color: var(--primary-color);
  letter-spacing: 0.5rem;
  text-transform: capitalize;
  font-weight: 500;
}

.landing-page-content-developer {
  font-size: clamp(2.4rem, 3.5vw, 4rem);
  color: var(--text-color);
  letter-spacing: 0.3rem;
  text-transform: capitalize;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.landing-page-content-text-wrapper {
  max-width: 50rem;
  text-align: center;
}

.landing-page-content-text {
  font-size: clamp(1.5rem, 2.5vw, 1.7rem);
  letter-spacing: 0.2rem;
  color: var(--white-color);
  font-style: italic;
  font-weight: 600;
  line-height: 2;
}
/* 
@media (max-width: 1100px) {
  .landing-page-email {
    display: none;
  }
} */
