@media (max-width: 1400px) {
  .section-3 {
    height: 120vh;
  }
}

@media (max-width: 1000px) {
  .myStory {
    font-size: 2rem;
  }
  .section-2-text {
    font-size: 1.4rem;
  }

  .section-2-technologies h3 {
    font-size: 1.6rem;
  }

  .section-3 {
    /* margin-top: 7rem; */
    height: 200vh;
  }
}

@media (max-width: 900px) {
  .section-1-email,
  .section-1-social-media {
    opacity: 0;
    visibility: hidden;
  }
  .section-3 {
    height: 220vh;
  }
}

@media (max-width: 700px) {
  .logo {
    display: none;
  }
  .hamburger {
    display: flex;
  }

  .nav-links {
    background-color: var(--primary-dark);
    width: 20rem;
    height: 50rem;
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    right: -5rem;
    top: 0;
    z-index: 1000;
    transform: translateX(-100%);
    transition: transform 0.2s;
    box-shadow: 0 0 1rem rgba(255, 255, 255, 0.3);
  }
  .change .nav-links {
    display: flex;
    transform: translate(0);
  }
  .nav-item {
    margin: 1rem 0;
  }
}

@media (max-width: 600px) {
  .section-1-mynameis {
    font-size: 2.2rem;
  }
  .section-1-name-wrapper h1 {
    font-size: 4.8rem;
  }
  .section-1-frontend-wrapper h3 {
    font-size: 3.8rem;
  }
  .section-1-text-wrapper p {
    font-size: 1.5rem;
  }
}

@media (max-width: 500px) {
  .section-1-mynameis {
    font-size: 2rem;
  }
  .section-1-name-wrapper h1 {
    font-size: 5rem;
  }
  .section-1-frontend-wrapper h3 {
    font-size: 4rem;
  }
  .section-1-text-wrapper p {
    font-size: 1.4rem;
  }
  .section-2-left {
    grid-gap: 1rem;
  }
  .section-2-text {
    font-size: 1.3rem;
  }
  .section-1 {
    height: 70vh;
  }
}

@media (max-height: 900px) {
  .section-2 {
    height: 130vh;
  }
  .section-3 {
    height: 245vh;
  }
}

@media (max-height: 830px) {
  .section-2 {
    height: 130vh;
  }
  .section-3 {
    height: 255vh;
  }
}

@media (max-height: 800px) {
  .section-2 {
    height: 130vh;
  }
  .section-3 {
    height: 265vh;
  }
}

@media (max-height: 750px) {
  .section-2 {
    height: 130vh;
  }
  .section-3 {
    height: 285vh;
  }
}

@media (max-height: 700px) {
  .section-2 {
    height: 150vh;
  }
  .section-3 {
    height: 310vh;
  }
  .section-4 {
    height: 130vh;
  }
}

@media (max-height: 650px) {
  .section-3 {
    height: 325vh;
  }
}
@media (max-height: 600px) {
  .section-2 {
    height: 170vh;
  }
  .section-3 {
    height: 340vh;
  }
  .section-4 {
    height: 145vh;
  }
}
/* 
@media (max-height: 500px) {
  .section-2 {
    height: 190vh;
  }
  .section-3 {
    height: 190vh;
  }
  .section-4 {
    height: 145vh;
  }
} */
