.hamburger {
  z-index: 2000;
  cursor: pointer;
  display: none;
  margin-left: 2.5rem;
  flex-direction: column;
  align-items: space-evenly;
  /* outline: 1px solid white; */
}

.hamburger-line {
  background-color: var(--secondary-color);
  margin: 0.5rem 0;
  border-radius: 10rem;
  margin-left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
}

.hamburger-line:nth-child(1),
.hamburger-line:nth-child(3) {
  width: 3.5rem;
  height: 0.4rem;
  transition: transform 0.2s linear;
}
.hamburger-line:nth-child(2) {
  width: 2rem;
  height: 0.4rem;
  transition: transform 0.1s linear, opacity 0.1s linear, visibility 0.1s linear;
}

.change .hamburger-line:nth-child(2) {
  transform: translateX(-100%);
  opacity: 0;
  visibility: hidden;
}

.change .hamburger-line:nth-child(1) {
  transform: rotate(45deg) translateY(1.9rem);
}

.change .hamburger-line:nth-child(3) {
  transform: rotate(-45deg) translateY(-2rem);
}

/* .hamburger::before {
  content: "";
  position: absolute;
  width: 4rem;
  height: 0.2rem;
  top: -1rem;
  left: -1rem;
  background-color: var(--secondary-color);
  z-index: 1000;
}

.hamburger::after {
  content: "";
  position: absolute;
  width: 4rem;
  height: 0.2rem;
  bottom: -1rem;
  left: -1rem;
  background-color: var(--secondary-color);
  z-index: 1000;
} */

.nav {
  position: fixed;
  top: -10vh;
  left: 0;
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  font-family: "Nunito", sans-serif;
  opacity: 0;
  visibility: hidden;
  /* transition: display 0.2s; */
  animation: navAnimation 0.7s forwards linear;
}

@keyframes navAnimation {
  0% {
    top: -10vh;
    opacity: 0;
    visibility: hidden;
  }
  100% {
    top: 0;
    opacity: 1;
    visibility: visible;
  }
}

/* logo */

.logo {
  margin-left: 5rem;
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  opacity: 1;
  visibility: visible;
  transition: display 0.2s;
}

.logo::before {
  content: "";
  position: absolute;
  width: 5rem;
  height: 5rem;
  border: 3px double var(--primary-color);
  transform: rotate(45deg);
}

.logo::before:hover {
  background-color: pink;
}

.logo::after {
  content: "";
  position: absolute;
  width: 3rem;
  height: 3rem;
  border: 3px double var(--primary-color);
  transform: rotate(-45deg);
  opacity: 0.5;
}

.logo a {
  font-size: 3rem;
  color: var(--secondary-color);
  font-weight: bold;
  z-index: 1000;
  text-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.2);
}

/* logo ends */

.nav-links {
  height: 100%;
  margin-right: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* transform-style: preserve-3d; */
}

.nav-item,
.nav-resume {
  margin: 0 2rem;
  width: 9rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* transform-style: preserve-3d; */
}

.nav-item {
  position: relative;
  overflow: hidden;
}

.nav-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 9rem;
  height: 0.1rem;
  background-color: var(--primary-color);
  transition: left 0.2s;
}

.nav-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 100%;
  width: 9rem;
  height: 0.1rem;
  background-color: var(--primary-color);
  transition: right 0.2s;
}

.nav-item:hover.nav-item::before {
  left: 100%;
}

.nav-item:hover.nav-item::after {
  right: -100%;
}

.nav-link,
.nav-resume-link {
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  text-shadow: 0 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.3);
}
.nav-link {
  text-transform: capitalize;
  transition: color 0.2s;
  font-weight: 100;
}

.nav-link:hover {
  color: var(--secondary-color);
}
.resume {
  border-radius: 10px;
  border: 3px double var(--primary-color);
  box-shadow: 0rem 0rem 0.5rem rgba(255, 255, 255, 0.5);
  position: relative;
  transition: background-color 0.2s;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--secondary-color);
}
.resume:hover {
  background-color: var(--primary-color);
}
