.projects {
  max-width: 100%;
  min-height: 100vh;
  display: grid;
  justify-content: center;
  grid-template-columns: minmax(60vw, 90vw);
  transition: transform 0.4s;
}

.projects-heading {
  margin-top: 5rem;
  transition: transform 0.5s;
}

.projects-content {
  align-self: start;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(33rem, 1fr));
  gap: 5rem 2rem;
  margin: 5rem 0 10rem 0;
  transition: transform 1s;
}

.project {
  padding: 2rem;
  display: grid;
  gap: 2rem;
  overflow: hidden;
  opacity: 0.8;
  transition: opacity 0.2s, transform 0.4s;
}
.project:hover {
  opacity: 1;
}

.project-title {
  padding: 2rem;
  font-size: clamp(1.2rem, 4vw, 1.6rem);
  font-weight: 300;
  letter-spacing: 0.1rem;
  border-radius: 5rem 10rem 2rem 10rem;
}
.project-img {
  max-width: 100%;
  min-height: 30vh;
  object-fit: cover;
}

.project-text {
  font-size: clamp(1.2rem, 1.5vw, 1.4rem);
  line-height: 1.8;
}

.project-links {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.project-link {
  font-size: 1.2rem;
  padding: 1rem 3rem;
  box-shadow: 0 0 0 0.2rem var(--primary-color);
  background-color: transparent;
  transition: background-color 0.2s, color 0.2s;
  border-radius: 5rem 3rem 5rem 2rem;
  letter-spacing: 0.1rem;
}

.project-display {
  opacity: 0;
  visibility: hidden;
  transform: scale(0);
  transition: transform 0.4s;
}

/* Project One Styles */

.project-1 {
  background-color: hsl(235, 46%, 20%);
}

.project-1-title {
  border: 3px solid hsl(43, 84%, 65%);
  color: hsl(15, 100%, 70%);
}

.project-1-text {
  color: hsl(236, 100%, 87%);
}
.project-1-link {
  color: hsl(348, 100%, 68%);
}

.project-1-link:hover {
  background-color: hsl(226, 43%, 10%);
}

/* Project One Styles Ends */

/* Project 2 styles */

.project-2 {
  background-color: hsl(179, 100%, 13%);
}

.project-2-title {
  border: 3px solid hsl(31, 77%, 52%);
}

.project-2-text {
  color: hsla(0, 0%, 100%, 0.75);
}

.project-2-link {
  color: hsla(0, 0%, 100%, 0.75);
}

.project-2-link:hover {
  background-color: hsl(31, 77%, 52%);
}

/* Project 2 styles ends */
/* Project 3 styles */

.project-3 {
  background-color: hsl(0, 0%, 8%);
  color: hsl(0, 0%, 41%);
}

.project-3-title {
  border: 3px solid hsl(0, 0%, 98%);
}

.project-3-text {
  color: hsl(0, 0%, 98%);
}

.project-3-link:hover {
  background-color: hsl(0, 0%, 41%);
  color: hsl(0, 0%, 8%);
}

/* Project 3 styles ends */

/* Project 4 styles  */

.project-4 {
  background-color: hsl(217, 19%, 38%);
}

.project-4-title {
  border: 3px solid hsl(150, 100%, 66%);
}

.project-4-text {
  color: hsl(193, 38%, 86%);
}
.project-4-link:hover {
  background-color: hsl(218, 23%, 16%);
}

/* Project 4 styles ends */

/* Project 5 styles  */
.project-5 {
  background-color: hsl(216, 50%, 16%);
}

.project-5-title {
  border: 3px solid hsl(178, 100%, 50%);
  color: hsl(0, 0%, 100%);
}

.project-5-text {
  color: hsl(215, 51%, 70%);
}

.project-5-link:hover {
  background-color: hsl(217, 54%, 11%);
}
/* Project 5 styles ends */
/* Project 6 styles */

.project-6 {
  background-color: hsl(216, 12%, 54%);
}

.project-6-title {
  border: 3px solid hsl(25, 97%, 53%);
}

.project-6-text {
  color: hsl(0, 0%, 100%);
}

.project-6-link:hover {
  background-color: hsl(25, 97%, 53%);
}

/* Project 6 styles ends */
/* Project 7 styles */
.project-7 {
  background-color: rgba(255, 69, 0, 0.3);
}

.project-7-title {
  border: 3px solid #fff;
}

.project-7-link:hover {
  background-color: orangered;
}

/* Project 7 styles ends */
