.title {
  max-width: 100%;
  min-height: 10vh;
  display: grid;
  place-items: center;
  padding: 3rem;
}

.heading {
  font-size: var(--title);
  color: var(--text-color);
  letter-spacing: 0.2rem;
  font-weight: 600;
  text-transform: capitalize;
  margin-top: 5rem;
}
