@import url("https://fonts.googleapis.com/css2?family=Bellota+Text:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Fredoka:wght@300;400;500;600;700&family=Jura:wght@300;400;500;600;700&display=swap");

/* common styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style-type: none;
  font-family: "Jura", cursive;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.background {
  z-index: -1;
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #000;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
}

header {
  width: 50vw;
  height: 100vh;
  flex-direction: column;
  perspective: 100rem;
  position: relative;
}

.heading-wrapper {
  flex-direction: column;
  width: 100%;
}

#frontend,
#developer {
  font-size: 5rem;
  letter-spacing: 1rem;
  text-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.4);
  background: #f46b45; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #eea849,
    #f46b45
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #eea849,
    #f46b45
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-transform: uppercase;

  opacity: 0;
  visibility: hidden;
}

#frontend {
  animation: fadeAnimation 2s linear forwards;
}

#developer {
  animation: fadeAnimation 2s 0.5s linear forwards;
}

.text-wrapper {
  flex-direction: column;
  margin-top: 3rem;
}

.inter {
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  font-style: italic;
  text-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.3);
  background: #f0f2f0;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: fadeAnimation 2s 1s linear forwards;
  opacity: 0;
  visibility: hidden;
}
.creativity {
  margin-top: 3rem;
}

.creativity p {
  font-size: 2.2rem;
  margin: 0 2rem;
  letter-spacing: 0.2rem;
  font-style: normal;
  background: #80deea;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0;
  visibility: hidden;
}

.creativity p:nth-child(1) {
  animation: fadeAnimation 2s 1.3s linear forwards;
}

.creativity p:nth-child(2) {
  animation: fadeAnimation 2s 1.6s linear forwards;
}

.creativity p:nth-child(3) {
  animation: fadeAnimation 2s 1.9s linear forwards;
}

.navigation {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  transform-style: preserve-3d;
}

.nav-link {
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
  font-weight: 300;
  text-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.4);
  background: orangered;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-transform: uppercase;
  width: 17rem;
  height: 6rem;
  margin: 0 3rem;
  padding: 1rem 2rem;
  border: 2px solid transparent;
  box-shadow: inset 0 0.1rem 0.2rem rgba(255, 255, 255, 0.9),
    inset 0 -0.1rem 0.2rem rgba(255, 255, 255, 0.9);
  text-align: center;
  border-radius: 10rem;
  transform: translateZ(5rem) rotate(17deg);
  transition: border 0.5s, transform 0.5s;
  opacity: 0;
  visibility: hidden;
}
.nav-link:nth-child(1) {
  animation: fadeAnimation 2s 2s linear forwards;
}

.nav-link:nth-child(2) {
  animation: fadeAnimation 2s 2.3s linear forwards;
}

.nav-link:nth-child(3) {
  animation: fadeAnimation 2s 2.6s linear forwards;
}

.nav-link:hover {
  border: 2px solid #ffc837;
  transform: translateZ(0rem) rotate(0);
}

@keyframes fadeAnimation {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

.components {
  width: 50vw;
  height: 100vh;
  z-index: 100;
}

.about {
  position: fixed;
  top: -60vh;
  width: 65%;
  height: 40vh;
  position: relative;
  border-radius: 10px;
  color: #fff;
  background-color: rgba(51, 51, 51, 0.111);
  opacity: 0;
  visibility: hidden;
  animation: aboutAnimation 1.5s ease-in-out forwards;
}

@keyframes aboutAnimation {
  0% {
    opacity: 0;
    visibility: hidden;
    top: -60vh;
  }
  100% {
    opacity: 1;
    visibility: visible;
    top: 0;
  }
}

.about-heading,
.about-text-container {
  position: absolute;
}

.about-heading {
  width: 100%;
  height: 60%;
  padding: 5rem;
  flex-direction: column;
  border-radius: 0.5rem;
  justify-content: space-around;
  transition: filter 0.5s, transform 0.5s 0.5s;
}

.about-heading p {
  font-size: 2rem;
  margin-top: 1rem;
  opacity: 0;
  visibility: hidden;
  animation: fadeAnimation 2s 2s linear forwards;
}

.about-heading h1:nth-child(1) {
  animation: fadeAnimation 2s 0.5s ease-in-out forwards;
  opacity: 0;
  visibility: hidden;
}

.about-heading h1:nth-child(2) {
  animation: fadeAnimation 2s 1s ease-in-out forwards;
  opacity: 0;
  visibility: hidden;
}

.about-heading h1:nth-child(3) {
  font-size: 4rem;
  letter-spacing: 0.2rem;
  text-shadow: 0.1rem 0.1rem 0.1rem rgba(255, 255, 255, 0.9);
  opacity: 0;
  visibility: hidden;
  animation: fadeAnimation 2s 1.5s ease-in-out forwards;
}

.about-text-container {
  width: 65%;
  height: 70%;
  padding: 2rem;
  position: relative;
}

.about-text-container::before {
  position: absolute;
  content: "";
  width: 0;
  height: 0.1rem;
  background-color: rgba(255, 255, 255, 0.5);
  top: 0;
  left: 0;
  transition: width 1s 0.5s;
}
.about-text-container::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0.1rem;
  background-color: rgba(255, 255, 255, 0.5);
  bottom: 0;
  left: 0;
  transition: width 1s 0.5s;
}

.about:hover .about-heading {
  filter: blur(10px);
  transform: translateY(-100%);
}

.about:hover .about-text {
  opacity: 1;
  visibility: visible;
  transition: opacity 2s 1.5s, visibility 2s 1.5s;
}

.about-text {
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  text-align: justify;
  opacity: 0;
  visibility: hidden;
}

.about:hover .about-text-container::after {
  width: 100%;
}

.about:hover .about-text-container::before {
  width: 100%;
}

.contact {
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.9);
  position: relative;
  perspective: 100rem;
}

.contact-wrapper {
  position: relative;
  width: 65%;
  flex-direction: column;
  background-color: #202020;
  padding: 2rem;
  /* outline: 1px solid white; */
  transform-style: preserve-3d;
  opacity: 0;
  visibility: hidden;
  transform: rotateY(-12deg) translateZ(0) translateX(130%);
  animation: contactAnimation 1.5s ease-out forwards;
}

@keyframes contactAnimation {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: rotateY(-12deg) translateZ(0) translateX(130%);
  }
  100% {
    opacity: 1;
    visibility: visible;
    transform: rotateY(-12deg) translateZ(0) translateX(0);
  }
}

/* .contact-wrapper::before {
  background-color: #202020;
  content: "";
  position: absolute;
  width: 100%;
  height: 5rem;
  bottom: 0;
  left: 0;
  transform-style: preserve-3d;
  transform-origin: bottom;
  background-color: #fff;
  transform: rotateX(-270deg);
  box-shadow: inset 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.5),
    inset -0.2rem -0.2rem 0.2rem rgba(0, 0, 0, 0.5);
}

.contact-wrapper::after {
  content: "";
  position: absolute;
  width: 5rem;
  height: 100%;
  bottom: 0;
  right: 0;
  transform-style: preserve-3d;
  transform-origin: right;
  background-color: #fff;
  transform: rotateY(-90deg);
  background-color: #202020;
} */

.contact-heading {
  font-size: 4rem;
  font-weight: 400;
  color: rgba(255, 160, 0, 0.7);
  letter-spacing: 0.2rem;
  margin-bottom: 3rem;
  transition: opacity 0.3s;
  align-self: start;
  background-color: rgba(255, 160, 0, 0.7);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-transform: uppercase;
  opacity: 0;
  visibility: hidden;
  animation: fadeAnimation 2s 0.5s ease-in-out forwards;
}
.form {
  width: 100%;
  height: 100%;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  animation: fadeAnimation 2s 1s ease-in-out forwards;
}

.input-wrapper {
}

.input-wrapper input {
  width: 100%;
  padding: 0.5rem;
  margin: 1rem 0;
  background-color: rgba(255, 255, 255, 0.2);
  border: 0.1rem solid rgba(255, 160, 0, 0.7);
  font-size: 1.7rem;
  font-weight: bold;
  color: #aaa;
  letter-spacing: 0.1rem;
  height: 5rem;
  border-radius: 10px;
}

.input-wrapper input::placeholder {
  padding: 1rem;
  letter-spacing: 0.2rem;
}

.textarea {
  height: 20rem;
  resize: none;
  width: 100%;
  padding: 1rem;
  letter-spacing: 0.2rem;
  background-color: rgba(255, 255, 255, 0.2);
  color: #aaa;
  font-size: 1.7rem;
  font-weight: bold;
  border: 0.1rem solid rgba(255, 160, 0, 0.7);
  border-radius: 10px;
}

.form-btn {
  width: 20rem;
  height: 5rem;
  background-color: rgba(255, 160, 0, 0.7);
  border: none;
  align-self: flex-start;
  font-size: 2rem;
  color: #fff;
  margin-top: 2rem;
  transition: background-color 0.5s;
  cursor: pointer;
  border-radius: 10rem;
  box-shadow: inset 0.3rem 0.3rem 0.3rem rgba(255, 160, 0, 0.7),
    inset -0.3rem -0.3rem 0.3rem rgba(255, 160, 0, 0.7);
  background-color: rgba(255, 160, 0, 0.7);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-transform: uppercase;
  opacity: 0;
  visibility: hidden;
  animation: fadeAnimation 2s 1.5s ease-in-out forwards;
}

.form-btn:hover {
  background-color: rgba(255, 160, 0, 0.9);
}

.projects {
}
