@mixin font($size, $color, $spacing, $weight, $transform) {
  font-size: $size;
  color: $color;
  letter-spacing: $spacing;
  font-weight: $weight;
  text-transform: $transform;
}

@mixin flex($display, $direction, $align, $justify) {
  display: flex;
  align-items: center;
  justify-content: center;
}
