@mixin font($size, $color, $spacing, $weight, $transform) {
  font-size: $size;
  color: $color;
  letter-spacing: $spacing;
  font-weight: $weight;
  text-transform: $transform;
}

@mixin flex($display, $direction, $align, $justify) {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin appMaxSize {
  max-width: 90rem;
  margin-right: auto;
  margin-left: auto;
}

@mixin svgStyles($stroke, $fill) {
  stroke-width: 0.25cm;
  stroke: $stroke;
  fill: $fill;
}
