@use "variable" as *;
@use "mixin" as *;

/*=============================================
=            NAV STARTS           =
=============================================*/
.nav {
  &__link {
    @include font(1rem, $white, 2px, 500, uppercase);
    padding: 0.625rem 2.1875rem;
    position: relative;
    &:last-child {
      padding: 0.625rem 6rem;
      border: 2px solid $light-blue;
      border-radius: 5px;
    }
    &:not(:last-child)::before {
      content: "";
      position: absolute;
      width: 0;
      height: 1px;
      bottom: 0;
      left: 50%;
      background-color: $orangered;
      transform: translateX(-50%);
    }
    @media screen and (prefers-reduced-motion: no-preference) {
      &:not(:last-child)::before {
        transition: width 0.3s;
      }
      &:hover.nav__link:not(:last-child):before {
        width: 60%;
      }
      &:last-child {
        transition: background-color 0.3s, color 0.3s;
      }
      &:last-child:hover {
        background-color: $light-blue;
        color: $dark-gray;
      }
    }
  }

  @media (min-width: 768px) {
    &__link {
      font-size: calc(14rem / 16);
      &:last-child {
        padding: 0.625rem 30px;
        border: 2px solid $light-blue;
      }
    }
  }
}

/*=============================================
=            NAV ENDS           =
=============================================*/
/*=============================================
=           HEADER STARTS           =
=============================================*/
.header {
  background-color: $dark-gray;
  &__link {
    @include flex(flex, row, center, center);
    font-size: 1.25rem;
    border: 2px solid $orangered;
    padding: 0.85rem;
    border-radius: 50%;
    @media screen and (prefers-reduced-motion: no-preference) {
      svg {
        transition: transform 0.2s;
      }
      &:hover svg {
        transform: translateY(-5px);
      }
    }
  }

  &__heading {
    @include font(
      clamp(3rem, 2.4718rem + 2.2535vw, 4.5rem),
      $white,
      1px,
      900,
      uppercase
    );
    max-width: 35rem;
    margin: auto;
    line-height: 0.9;
    text-align: center;
    font-family: "Kanit", sans-serif;
    background-color: $light-blue;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    padding: 0.75rem;
  }

  &__text {
    @include font(calc(14rem / 16), $white, 1.5px, 200, auto);
    line-height: 1.8;
    text-align: center;
  }

  &__title {
    @include font(20px, $light-blue, 1px, 500, capitalize);
  }
}

/*=============================================
=           HEADER ENDS           =
=============================================*/

/*=============================================
=            ABOUT STARTS            =
=============================================*/

.about {
  &__heading {
    @include font(
      clamp(2.25rem, 1.8099rem + 1.8779vw, 3.5rem),
      $light-blue,
      1px,
      700,
      uppercase
    );
    margin: auto;
  }
  &__text {
    @include font(calc(14rem / 16), $white, 1.5px, 200, auto);
    line-height: 1.8;
    text-align: center;
  }

  &__btn {
    @include font(calc(14rem / 16), $white, 1.5px, 700, uppercase);
    padding: 0.625rem 1.375rem;
    background-color: $orangered;
    margin: auto;

    @media screen and (prefers-reduced-motion: no-preference) {
      transition: background-color 0.3s;
      &:hover {
        background-color: $light-blue;
      }
    }
  }

  &__title {
    @include font(
      clamp(2rem, 1.6479rem + 1.5023vw, 3rem),
      $light-blue,
      1px,
      300,
      uppercase
    );
    text-align: center;
  }

  &__p {
    @include font(calc(14rem / 16), $white, 1.5px, 300, uppercase);
  }

  @media (min-width: 1000px) {
    &__heading {
      margin: 0;
    }
    &__text {
      text-align: left;
    }
    &__btn {
      margin: 0;
      max-width: fit-content;
    }
  }
}

/*=============================================
  =           ABOUT ENDS              =
  =============================================*/
