@use "variable" as *;
@use "mixin" as *;

/*=============================================
=            NAV STARTS           =
=============================================*/
.nav {
  &__link {
    @include font(1rem, $white, 2px, 500, uppercase);
    padding: 0.625rem 2.1875rem;
    position: relative;
    &:last-child {
      padding: 0.625rem 6rem;
      border: 2px solid $light-blue;
      border-radius: 5px;
    }
    &:not(:last-child)::before {
      content: "";
      position: absolute;
      width: 0;
      height: 1px;
      bottom: 0;
      left: 50%;
      background-color: $orangered;
      transform: translateX(-50%);
    }
    @media screen and (prefers-reduced-motion: no-preference) {
      &:not(:last-child)::before {
        transition: width 0.3s;
      }
      &:hover.nav__link:not(:last-child):before {
        width: 60%;
      }
      &:last-child {
        transition: background-color 0.3s, color 0.3s;
      }
      &:last-child:hover {
        background-color: $light-blue;
        color: $dark-gray;
      }
    }
  }

  @media (min-width: 768px) {
    &__link {
      font-size: calc(14rem / 16);
      &:last-child {
        padding: 0.625rem 30px;
        border: 2px solid $light-blue;
      }
    }
  }
}

/*=============================================
=            NAV ENDS           =
=============================================*/
/*=============================================
=           HEADER STARTS           =
=============================================*/
.header {
  background-color: $dark-gray;
  &__link {
    @include flex(flex, row, center, center);
    font-size: 1.25rem;
    border: 2px solid $orangered;
    padding: 0.85rem;
    border-radius: 50%;
    @media screen and (prefers-reduced-motion: no-preference) {
      svg {
        transition: transform 0.2s;
      }
      &:hover svg {
        transform: translateY(-5px);
      }
    }
  }

  &__heading {
    @include font(72px, $white, 1px, 900, uppercase);
    line-height: 0.9;
    text-align: center;
    font-family: "Kanit", sans-serif;
    // font-family: "Rubik", sans-serif;
    background-color: $light-blue;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  &__text {
    @include font(calc(16rem / 16), $white, 1px, 200, auto);
    line-height: 1.8;
    text-align: center;
  }

  &__title {
    @include font(20px, $light-blue, 1px, 500, capitalize);
  }
}

/*=============================================
=           HEADER ENDS           =
=============================================*/
