@use "variable" as *;

.highlight {
  color: $light-blue;
  font-size: calc(16rem / 16);
  font-weight: 700;
}

.change .hamburger__line:nth-child(2) {
  // transform: translateX(-100%);
}
.change .hamburger__line:nth-child(1) {
}

.change .hamburger__line:nth-child(3) {
}

.toggle__nav {
  transform: translateX(0);
  @media screen and (prefers-reduced-motion: no-preference) {
    transition: transform 0.3s ease-in-out;
  }
}

.error {
  color: red;
  font-size: calc(12rem / 16);
  min-height: 1.5rem;
}
